
    <div class="main-panel" style="display: flex;">
        <!-- <div >My Modules</div> -->
        <div class="white-panel" style="height:150px; flex: 1; 
        ">
            
            <div class="item"  
            (click)="handleClickCenter(menuItem)" 
             *ngFor="let menuItem of centerMenu">
               <fa-icon [icon]="menuItem.icon" size="xl" ></fa-icon>
               <a style="text-decoration: none;">
               <p>{{menuItem.label}}</p>
            </a>
            </div>
        </div>
       </div>