<!-- Top navigation -->
<div class="topnav">

  
  <div>
    <a href="/" class="active" style="background-color: white;">
    <img src="./../../../assets/logo_hub.png" height="40" width="100" />
    </a>
    <a routerLink=""><img src="./../../../assets/home.png"></a>
  </div>


  <div class="topnav-centered">

   
  </div>

  <div _ngcontent-vxh-c11="" class="topnav-centered" style="background-color: white;"><a _ngcontent-vxh-c11="" href="/" class="active" style="
    background-color: white;
"><img _ngcontent-vxh-c11="" src="./../../../assets/MetLife.png" style="
    background-color: white;
"></a></div>

  <div class="topnav-right"> <div>
    
  </div>
    <input type="text" placeholder="Search..." style="box-shadow: inset;"/>
    <fa-icon [icon]="faBell" size="xl"></fa-icon>
    <span style="margin-right: 15px;">Arvind Verma</span>
    <div class="user" (click)="handleUserClick()" >AV</div>
  </div>
</div>
