/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
}

body{
    font-family: "Helvetica Neue",Helvetica,sans-serif;
    color: #333;
}

.main-panel{
    height: 84vh;
    display: flex;
    /* background-color: rgb(242, 249, 255); */
    background-color: #ecf6fa;
    padding: 1rem ;
    border-radius: 40px;
    position: relative;
    overflow: visible;
}

.white-panel{
    border-radius: 20px;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
}
/* styles.css */
.icons{
    color: #337ab7;
}
.icons-label{
    padding-top: 8px;
    padding-bottom : 0px;
    font-family: 'Roboto';
}


