<!-- Top navigation -->
<div class="topnav">

  
  <div>
    <a href="/" class="active">
    <img src="./../../../assets/logo_hub.png" height="40" width="100" />
    </a>
    <a routerLink=""><img src="./../../../assets/home.png"></a>
  </div>


  <div class="topnav-centered">

   
  </div>

  <div class="topnav-centered">
    <a href="/" class="active">
      <img src="./../../../assets/MetLife.png" />
    </a>
  </div>

  <div class="topnav-right"> <div>
    
  </div>
    <input type="text" placeholder="Search..." />
    <fa-icon [icon]="faBell" size="xl"></fa-icon>
    <span style="margin-right: 15px;">Arvind Verma</span>
    <div class="user" (click)="handleUserClick()" >AV</div>
  </div>
</div>
