<head>
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous"
  />
</head>
<div class="container">
  <!-- <body> -->
  <!-- <form
    class="form-horizontal ng-untouched ng-pristine ng-valid"
    name="frmpfppaiddetail"
    novalidate=""
    style="padding-top: 1%"
  > -->
    <div class="panel panel-primary" style="margin-top: 5px ;border: 10px solid #337ab7;">
      <div class="panel-heading"></div>
      <div class="panel-body">
        <div class="form-group">
          <div class="col-md-12">
            <div class="col-md-3"></div>
            <div class="col-md-2 ng-star-inserted" style="margin-top: 10px;">
              <label
                ><input
                  name="name"
                  type="radio"
                  checked
                  ng-reflect-name="name"
                  ng-reflect-value="1"
                  ng-reflect-model="1"
                  class="ng-untouched ng-pristine ng-valid"
                /><strong> For Me </strong></label
              >
            </div>
            <div class="col-md-3"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="ng-star-inserted" >
      <div class="panel panel-primary" style="margin-top: 10px ;border: 1px solid #337ab7;">
        <div class="panel-heading">Employee Details</div>
        <div class="panel-body">
          <div class="form-group ng-isolate-scope">
            <div class="container top-buffer">
              <div class="col-md-12">
                <label
                  class="control-label top-Lebelbuffer col-md-3"
                  placement="top"
                  triggers="mouseenter:mouseleave"
                  ng-reflect-popover="Employee Name"
                  ng-reflect-popover-title="Employee Name"
                  ng-reflect-placement="top"
                  ng-reflect-triggers="mouseenter:mouseleave"
                >
                  Employee Name
                </label>
                <div class="col-md-3">
                  <input
                    class="form-control ng-untouched ng-pristine"
                    disabled=""
                    name="EmployeeName"
                    type="text"
                    ng-reflect-name="EmployeeName"
                    ng-reflect-is-disabled=""
                    value="Arvind Verma"
                  />
                </div>
                <label
                  class="control-label top-Lebelbuffer col-md-3"
                  placement="top"
                  triggers="mouseenter:mouseleave"
                  ng-reflect-popover="Employee Id"
                  ng-reflect-popover-title="Employee Id"
                  ng-reflect-placement="top"
                  ng-reflect-triggers="mouseenter:mouseleave"
                >
                  Employee Id
                </label>
                <div class="col-md-3">
                  <input
                    class="form-control ng-untouched ng-pristine"
                    disabled=""
                    name="EmployeeId"
                    type="text"
                    ng-reflect-name="EmployeeId"
                    ng-reflect-is-disabled=""
                    value="3622585"
                  />
                </div>
              </div>
              <div class="col-md-12" style="margin-top: 10px">
                <label
                  class="control-label top-Lebelbuffer col-md-3"
                  placement="top"
                  triggers="mouseenter:mouseleave"
                  ng-reflect-popover="Department"
                  ng-reflect-popover-title="Department"
                  ng-reflect-placement="top"
                  ng-reflect-triggers="mouseenter:mouseleave"
                >
                  Department
                </label>
                <div class="col-md-3">
                  <input
                    class="form-control ng-untouched ng-pristine"
                    disabled=""
                    name="Department"
                    type="text"
                    ng-reflect-name="Department"
                    ng-reflect-is-disabled=""
                    value="IT Asset Management"
                  />
                </div>
                <label
                  class="control-label top-Lebelbuffer col-md-3"
                  placement="top"
                  triggers="mouseenter:mouseleave"
                  ng-reflect-popover="Employee Designation"
                  ng-reflect-popover-title="Employee Designation"
                  ng-reflect-placement="top"
                  ng-reflect-triggers="mouseenter:mouseleave"
                >
                  Employee Designation
                </label>
                <div class="col-md-3">
                  <input
                    class="form-control ng-untouched ng-pristine"
                    disabled=""
                    name="Designation"
                    type="text"
                    ng-reflect-name="Designation"
                    ng-reflect-is-disabled=""
                    value="Specialist - Technology Servic"
                  />
                </div>
              </div>
              <div class="col-md-12" style="margin-top: 10px">
                <label
                  class="control-label top-Lebelbuffer col-md-3"
                  placement="top"
                  triggers="mouseenter:mouseleave"
                  ng-reflect-popover="Employee Grade"
                  ng-reflect-popover-title="Employee Grade"
                  ng-reflect-placement="top"
                  ng-reflect-triggers="mouseenter:mouseleave"
                >
                  Employee Grade
                </label>
                <div class="col-md-3">
                  <input
                    class="form-control ng-untouched ng-pristine"
                    disabled=""
                    name="Grade"
                    type="text"
                    ng-reflect-name="Grade"
                    ng-reflect-is-disabled=""
                    value="Specialist"
                  />
                </div>
                <label
                  class="control-label top-Lebelbuffer col-md-3"
                  placement="top"
                  triggers="mouseenter:mouseleave"
                  ng-reflect-popover="Supervisor"
                  ng-reflect-popover-title="Supervisor"
                  ng-reflect-placement="top"
                  ng-reflect-triggers="mouseenter:mouseleave"
                >
                  Supervisor
                </label>
                <div class="col-md-3">
                  <input
                    class="form-control ng-untouched ng-pristine"
                    disabled=""
                    name="DOB"
                    type="text"
                    ng-reflect-name="DOB"
                    ng-reflect-is-disabled=""
                    value="Shakir Shah"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-primary" style="margin-top: 10px ;border: 1px solid #337ab7;">
        <div class="panel-heading">P4P Paid</div>
        <div class="panel-body">
          <div class="form-group ng-isolate-scope">
            <div class="container top-buffer">
              <div class="col-md-12 ng-star-inserted">
                <img
                src="./../../../assets/raise_query.png"
                  style="width: 3%; margin-left: 1028px; cursor: pointer"
                  title="Raise a Query"
                />
              </div>
              <div class="col-md-12">
                <div class="col-lg-12" id="defaultTableCss">
                  <div class="ng-star-inserted">
                    <div class="row marg-bottom20" name="advanceSearch">
                      <section class="ng-star-inserted">
                        <div class="col-md-2">
                          <label
                            class="control-label"
                            style="margin-top: 5px; font-size: small"
                          >
                          </label>
                        </div>
                        <div class="col-md-2">
                          <input
                            class="form-control ng-untouched ng-pristine ng-valid"
                            name="Search1"
                            type="text"
                            ng-reflect-name="Search1"
                            placeholder="Search"
                          />
                        </div>
                        <div class="col-md-2">
                          <select
                            class="form-control ng-untouched ng-pristine ng-valid"
                            name="AnyAnd"
                            ng-reflect-name="AnyAnd"
                            ng-reflect-model="0"
                          >
                            <option value="0" ng-reflect-value="0">ANY</option>
                            <option value="1" ng-reflect-value="1">AND</option>
                          </select>
                        </div>
                        <div class="col-md-2">
                          <input
                            class="form-control ng-untouched ng-pristine ng-valid"
                            id="Search2"
                            name="Search2"
                            type="text"
                            ng-reflect-name="Search2"
                            placeholder="Search"
                          />
                        </div>
                        <div class="col-md-2">
                          <select
                            class="form-control ng-untouched ng-pristine ng-valid"
                            name="pageSize"
                            ng-reflect-name="pageSize"
                            ng-reflect-model="10"
                          >
                            <option value="0: null">Items</option>
                            <option
                              value="10"
                              ng-reflect-value="10"
                              class="ng-star-inserted"
                            >
                              10
                            </option>
                            <option
                              value="50"
                              ng-reflect-value="50"
                              class="ng-star-inserted"
                            >
                              50
                            </option>
                            <option
                              value="100"
                              ng-reflect-value="100"
                              class="ng-star-inserted"
                            >
                              100
                            </option>
                            <option
                              value="100000"
                              ng-reflect-value="100000"
                              class="ng-star-inserted"
                            >
                              ALL
                            </option>
                          </select>
                        </div>
                        <div class="col-md-2">
                          <img
                          src="./../../../assets/excel.gif"
                            style="margin-left: -10px"
                            title="Export to excel"
                          /><span ng-reflect-ng-style="[object Object]"
                            ><span
                              style="float: right"
                              class="ng-star-inserted"
                            ></span
                          ></span>
                        </div>
                      </section>
                    </div>
                    <div class="row marg-bottom20">
                      <div class="col-md-12 ng-star-inserted">
                        <div style="overflow: auto ">
                          <table
                            class="table table-bordered table-condensed hovertr fixed-table-container table-layout"
                            style="table-layout: fixed;margin-top: 10px;"
                            id="PFPPaidDetail"
                          >
                            <thead style="background-color: #337ab7; color: white;padding: 0px;">
                              <tr class="table-layout-header">
                                <th
                                  class="tablesort-sortable text-center ng-star-inserted"
                                  ng-reflect-ng-style="[object Object]"
                                  style="width: 12.5%; vertical-align: middle"
                                >
                                  <div class="th-inner sortable both">
                                    <span> Month-Year </span>
                                  </div>
                                </th>
                                <th
                                  class="tablesort-sortable text-center ng-star-inserted"
                                  ng-reflect-ng-style="[object Object]"
                                  style="width: 12.5%; vertical-align: middle"
                                >
                                  <div class="th-inner sortable both">
                                    <span> Process </span>
                                  </div>
                                </th>
                                <th
                                  class="tablesort-sortable text-center ng-star-inserted"
                                  ng-reflect-ng-style="[object Object]"
                                  style="width: 12.5%; vertical-align: middle"
                                >
                                  <div class="th-inner sortable both">
                                    <span> Supervisor </span>
                                  </div>
                                </th>
                                <th
                                  class="tablesort-sortable text-center ng-star-inserted"
                                  ng-reflect-ng-style="[object Object]"
                                  style="width: 12.5%; vertical-align: middle"
                                >
                                  <div class="th-inner sortable both">
                                    <span> Complexity </span>
                                  </div>
                                </th>
                                <th
                                  class="tablesort-sortable text-center ng-star-inserted"
                                  ng-reflect-ng-style="[object Object]"
                                  style="width: 12.5%; vertical-align: middle"
                                >
                                  <div class="th-inner sortable both">
                                    <span> Rating </span>
                                  </div>
                                </th>
                                <th
                                  class="tablesort-sortable text-center ng-star-inserted"
                                  ng-reflect-ng-style="[object Object]"
                                  style="width: 12.5%; vertical-align: middle"
                                >
                                  <div class="th-inner sortable both">
                                    <span> P4P Payout </span>
                                  </div>
                                </th>
                                <th
                                  class="tablesort-sortable text-center ng-star-inserted"
                                  ng-reflect-ng-style="[object Object]"
                                  style="width: 12.5%; vertical-align: middle"
                                >
                                  <div class="th-inner sortable both">
                                    <span> Non Payment Reason </span>
                                  </div>
                                </th>
                              </tr>
                            </thead>
                            <tbody>

                                  <tr  *ngFor="let details of viewDetailsGrid" class="table-layout-header">
                                        
                                  <td>
                                    <div>
                                      <span>  {{details.year}} </span>
                                    </div>
                                  </td>

                                  <td>
                                    <div>
                                      <span>  {{details.process}} </span>
                                    </div>
                                  </td>

                                  <td>
                                    <div>
                                      <span>  {{details.supervisor}} </span>
                                    </div>
                                  </td>

                                  <td>
                                    <div>
                                      <span>  {{details.complexity}} </span>
                                    </div>
                                  </td>

                                  <td>
                                    <div>
                                      <span>  {{details.rating}} </span>
                                    </div>
                                  </td>

                                  <td>
                                    <div>
                                      <span>  {{details.layout}} </span>
                                    </div>
                                  </td>

                                  <td>
                                    <div>
                                      <span>  {{details.payment}} </span>
                                    </div>
                                  </td>
                                  
                                </tr>
                             
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <!-- </form> -->
<!-- </body> -->
</div>
